proxy {{ linuxrouter_wan_interface }} {
    router yes
    timeout 500

    rule {{ linuxrouter_wan_ipv6_prefix }}/{{ linuxrouter_wan_ipv6_netmask }} {
        iface {{ linuxrouter_lan_interface }}
    }
}
