#!/usr/sbin/nft -f

flush ruleset

# MAP-E (WAN MTU=1460 / LAN MTU=1500)
# Rewrite TCP MSS on SYN packets to match the route MTU.
table inet mangle {
    chain forward {
        type filter hook forward priority -150;
        tcp flags syn tcp option maxseg size set rt mtu
    }
}

table ip nat {
    chain postrouting {
        type nat hook postrouting priority srcnat;
        oifname "{{ linuxrouter_wan_interface }}" masquerade
    }
}

table inet filter {
    chain input {
        type filter hook input priority filter;
        policy drop;
        ct state established,related accept
        iifname "lo" accept
        iifname "{{ linuxrouter_lan_interface }}" accept
{% for rule in linuxrouter_nat_portforward %}
        ip6 daddr {{ rule.address }} {{ rule.protocol }} dport {{ rule.port }} accept
{% endfor %}
        # ICMPv6
        meta l4proto ipv6-icmp accept
    }

    chain forward {
        type filter hook forward priority filter;
        policy drop;

        ct state established,related accept
{% for rule in linuxrouter_nat_portforward %}
        iifname "{{ linuxrouter_wan_interface }}" oifname "{{ linuxrouter_lan_interface }}" {{ rule.protocol }} dport {{ rule.port }} accept
{% endfor %}
        iifname "{{ linuxrouter_lan_interface }}" oifname "{{ linuxrouter_wan_interface }}" accept
    }

    chain output {
        type filter hook output priority filter;
        policy accept;
    }
}
