server:
    interface: 127.0.0.1
    interface: {{ linuxrouter_lan_address }}

    access-control: 127.0.0.0/8 allow
    access-control: {{ linuxrouter_lan_subnet }}/{{ linuxrouter_lan_subnet_cidr }} allow

    verbosity: 1

    prefetch: yes
    prefetch-key: yes
    serve-expired: yes

    rrset-cache-size: 64m
    msg-cache-size: 32m

    hide-identity: yes
    hide-version: yes

    # 応答の高速化とネガティブキャッシュの最適化
    fast-server-permil: 900

    # ECH / HTTPS(Type 65) 関連の処理で遅延が出る場合の緩和
    minimal-responses: yes

remote-control:
    control-enable: yes
